In [1]:
a=10
print(type(a))
print(id(a))

<class 'int'>
140153049121296

In [3]:
num=a
print(id(num))
num=20
print(id(num))

140153049121296
140153049121616

In [4]:
#patterns

for row in range(1,5):
  for col in range (1,5):
    print(row,"-",col)

1 - 1
1 - 2
1 - 3
1 - 4
2 - 1
2 - 2
2 - 3
2 - 4
3 - 1
3 - 2
3 - 3
3 - 4
4 - 1
4 - 2
4 - 3
4 - 4

In [8]:
#patterns

for row in range(1,5):
  for col in range (1,5):
    print("*", end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [9]:
for row in range (1,5):
  for col in range(1, row+1):
    print("*", end= " ")
  print()

*
* *
* * *
* * * *

In [10]:
for row in range (1,5):
  for col in range(1, row+1):
    print("1", end= " ")
  print()

1
1 1
1 1 1
1 1 1 1

In [12]:
#patterns

for row in range(1,5):
  for col in range (1,5):
    print(row, end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [21]:
#patterns

for row in range(1,3):
  for col in range (10,14):
    print(col, end=" ")
  print()

10 11 12 13
10 11 12 13

In [25]:
i=1
for row in range (1,5):
  for col in range(1, row+1):
    print(i, end= " ")
    i=i+1
  print()

1
2 3
4 5 6
7 8 9 10

In [31]:
for row in range (1,5):
  for col in range(5,row,-1):
    print("*", end= " ")
  print()

* * * *
* * *
* *
*

In [32]:
for row in range (1,5):
  for col in range(row,5):
    print("*", end= " ")
  print()

* * * *
* * *
* *
*

In [34]:
for row in range (1,5):
  for col in range(row,5):
    print(5-row, end= " ")
  print()

4 4 4 4
3 3 3
2 2
1

In [56]:
#4
i=1
for row in range (1,5):
  for col in range(row,5):
    print(i, end=" ")
    i+=1
  print()

1 2 3 4
5 6 7
8 9
10

In [58]:
#2
for row in range (4,0,-1):
  for col in range(1,row+1):
    print(col, end= " ")
  print()

1 2 3 4
1 2 3
1 2
1

In [59]:
#3
for row in range (10,6,-1):
  for col in range(7,row+1):
    print(col, end= " ")
  print()

7 8 9 10
7 8 9
7 8
7

In [60]:
#5
i=1
for row in range (1,5):
  for col in range(row,5):
    print(i, end=" ")
    i+=1
  print()

1 2 3 4
5 6 7
8 9
10

In [62]:
#ascii value loop

n=4
for row in range(1,n+1):
  num=97
  for n in range(row,n+1):
    print(chr(num), end=" ")
    num=num+1
  print()

a b c d
a b c
a b
a

In [63]:
#ascii value loop

n=4
num=97
for row in range(1,n+1):
  for n in range(row,n+1):
    print(chr(num), end=" ")
    num=num+1
  print()

a b c d
e f g
h i
j

In [66]:
#ascii value loop

n=4
num=20
for row in range(1,n):
  for n in range(row,n+1):
    print(num, end= " ")
    num=num+1
  print()

20 21 22 23
24 25 26
27 28

In [67]:
i=68
for row in range (1,5):
  for col in range(1, row+1):
    print(chr(i), end= " ")
    i=i+1
  print()

D
E F
G H I
J K L M

In [72]:
i=122
for row in range (1,4):
  for col in range(row,4):
    print(chr(i), end= " ")
  i=i-1
  print()

z z z
y y
x

In [78]:
i=4
for row in range(1,4):
  for col in range(1,row+1):
    print(i, end=" ")
    i=i+2
  print()

4
6 8
10 12 14

In [86]:
i=2
for row in range (1,4):
  for col in range(5,row,-1):
    print(i, end= " ")
    i=i*2
  print()

2 4 8 16
32 64 128
256 512

In [76]:
for row in range (1,4):
  for col in range(1, row+1):
    print("*", end= " ")
  print()
for row in range (1,5):
  for col in range(5,row,-1):
    print("*", end= " ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [87]:
for row in range(1,4):
  for col in range(5-row,0,-1):
    print("*", end= " ")
  print()

* * * *
* * *
* *