In [ ]:
num=5
for i in range(1,num+1):
  for j in range(i,num):
    print("-", end =" ")

  for k in range(1,2*i):
    print("*",end=" ")
  print()

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [ ]:
num=5
for i in range(1,num+1):
   for k in range(1,i+1):
    if(j==2 or j==4):
      print("0",end=" ")
    else:
      print("1",end=" ")
   print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    if((i+j)%2==0):
      print("1", end=" ")
    else:
      print("0", end= " ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:
num=4
for i in range(1,num+1):
  for j in range(num-i,num):
    print("-", end =" ")

  for k in range(num,i,-1):
    print("*",end=" ")
  print()

- * * *
- - * *
- - - *

In [ ]:
num=4
for i in range(1,num+1):
  for j in range(1,i):
    print("-", end ="")

  for k in range(i,5):
    print("*",end=" ")
  print()

* * * *
-* * *
--* *
---*

In [ ]:
num=4
for i in range(1,num+1):
  for j in range(1,i):
    print("-", end =" ")

  for k in range(i,5):
    if(i==k):
      print("1",end=" ")
    if((k==i+1)):
      print("2", end=" ")
    if(k==i+2):
      print("3",end=" ")
    if(k==i+3):
      print("4",end=" ")

  print()

1 2 3 4
- 1 2 3
- - 1 2
- - - 1

In [ ]:
num=4
for i in range(1,num+1):
  for j in range(i+1,5):
    print("-", end ="")

  for k in range(1,i+1):
    print("*",end=" ")
  print()

---*
--* *
-* * *
* * * *

In [ ]:
num=6
for i in range(1,num+1):
  for j in range(1,i):
    print(" ", end ="")

  for k in range(i,7):
    print(k,end=" ")
  print()

1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

In [ ]:
num=6
for i in range(1,num+1):
  for j in range(1,i):
    print(" ", end ="")

  for k in range(i,7):
    print(num-k,end=" ")
  print()

5 4 3 2 1 0
 4 3 2 1 0
  3 2 1 0
   2 1 0
    1 0
     0

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,i):
    print(j+1,end=" ")
  print()

2
2 3
2 3 4

In [ ]:
num=5
for i in range(1,num+1):
  for j in range(i,num):
    print(" ", end =" ")
  for k in range(i,1,-1):
    print(k-1,end=" ")
  for l in range(1,i-1):
    print(l+1,end=" ")
  print()

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4

In [ ]:
num=5
for i in range(1,num+1):
  for j in range(i,num):
    print(" ", end =" ")

  for k in range(1,i):
    if(i==5 or i==j):
      print("*",end=" ")
  print()

  * * *
* * * *

In [ ]:
num=5
for i in range(2,num+1):
  for j in range(i,num):
    print(" ", end =" ")
  for k in range(i,1,-1):
    if(k==6 or i==k or i==5 or i==k+3):
      print("*",end=" ")
  for l in range(1,i):
    if(i==5 or l==i):
      print("*",end=" ")

  print()

      * *
    * *
  * *
* * * * * * * *

In [2]:
num=5
for i in range(1,num+1):
  for j in range(i,num):
    print(" ", end =" ")
  for k in range(i,2*i):
    if(i==num or k==1 or k==2*i-1):
      print("*",end="   ")
    else:
      print(" ",end)

  print()

        *
      *
    *
  *
*   *   *   *   *

In [ ]:
num = 5
for i in range(1, num + 1):
    for j in range(i, num):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        if (k==1 or k==2*i-1 or i==num):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *